# Exercise 6

Insert data into a SQL Lite database â€“ create a table with the following data (Hint: Python for Data Analysis page 191):

a. Name, Address, City, State, Zip, Phone Number

b. Add at least 10 rows of data and submit your code with a query generating your results.

In [28]:
import sqlite3
import pandas as pd

In [29]:
query = """ CREATE TABLE test (Name VARCHAR(20), Address VARCHAR(20), City VARCHAR(20), State VARCHAR(20), Zip INTEGER, Phone Number INTEGER);"""

con = sqlite3.connect('mydata2.sqlite')
con.execute(query)

con.commit()

In [30]:
data = [('Jon Doe', '123 Maple Street', 'Macon', 'GA', '64297', '9049936475'), ('April Jones', '645 Celebration Ave', 'Celebration', 'FL', '34747', '4076751234'), ('Bob Ray', '815 Jones Road', 'Pine Tree', 'CA', '60497', '9716458241'), ('Pep Cola', '197 Pepsi Way', 'Buffalo', 'NY', '10577', '6319873461'), ('Bubbles Taylor', '341 Widex Lane', 'Gatlinburg', 'TN', '41271', '2413657412'), ('Remy Louis', '94 Croissant Circle', 'Paris', 'TX', '96416', '3219476485'), ('Scarlett Gatoa', '715 Red Lane', 'Redwing', 'CO', '94785', '8524176321'), ('Midas King', '648 Hippo Way', 'Cape Town', 'WA', '51487', '3479658241'), ('Abbey Road', '64 Beatles Lane', 'Strawberry Fields', 'VA', '96341', '8416325874'), ('Duke Ellington', 'Connersville', 'TN', '98741', '9416358471'), ('Coco Chanel', 'Hollywood', 'CA', '90468', '4128675309')]

stmt = "INSERT INTO test VALUES(?, ?, ?, ?, ?, ?)"

con.executemany(stmt, data)

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 6, and there are 5 supplied.

In [31]:
con.commit()

In [32]:
cursor = con.execute('select * from test')

rows = cursor.fetchall()

In [33]:
rows

[('Jon Doe', '123 Maple Street', 'Macon', 'GA', 64297, 9049936475),
 ('April Jones',
  '645 Celebration Ave',
  'Celebration',
  'FL',
  34747,
  4076751234),
 ('Bob Ray', '815 Jones Road', 'Pine Tree', 'CA', 60497, 9716458241),
 ('Pep Cola', '197 Pepsi Way', 'Buffalo', 'NY', 10577, 6319873461),
 ('Bubbles Taylor', '341 Widex Lane', 'Gatlinburg', 'TN', 41271, 2413657412),
 ('Remy Louis', '94 Croissant Circle', 'Paris', 'TX', 96416, 3219476485),
 ('Scarlett Gatoa', '715 Red Lane', 'Redwing', 'CO', 94785, 8524176321),
 ('Midas King', '648 Hippo Way', 'Cape Town', 'WA', 51487, 3479658241),
 ('Abbey Road',
  '64 Beatles Lane',
  'Strawberry Fields',
  'VA',
  96341,
  8416325874)]

In [34]:
cursor.description

(('Name', None, None, None, None, None, None),
 ('Address', None, None, None, None, None, None),
 ('City', None, None, None, None, None, None),
 ('State', None, None, None, None, None, None),
 ('Zip', None, None, None, None, None, None),
 ('Phone', None, None, None, None, None, None))

In [35]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

,Name,Address,City,State,Zip,Phone
0,Jon Doe,123 Maple Street,Macon,GA,64297,9049936475
1,April Jones,645 Celebration Ave,Celebration,FL,34747,4076751234
2,Bob Ray,815 Jones Road,Pine Tree,CA,60497,9716458241
3,Pep Cola,197 Pepsi Way,Buffalo,NY,10577,6319873461
4,Bubbles Taylor,341 Widex Lane,Gatlinburg,TN,41271,2413657412
5,Remy Louis,94 Croissant Circle,Paris,TX,96416,3219476485
6,Scarlett Gatoa,715 Red Lane,Redwing,CO,94785,8524176321
7,Midas King,648 Hippo Way,Cape Town,WA,51487,3479658241
8,Abbey Road,64 Beatles Lane,Strawberry Fields,VA,96341,8416325874

In [36]:
import sqlalchemy as sqla

In [37]:
db = sqla.create_engine('sqlite:///mydata2.sqlite')

In [38]:
pd.read_sql('select * from test', db)

,Name,Address,City,State,Zip,Phone
0,Jon Doe,123 Maple Street,Macon,GA,64297,9049936475
1,April Jones,645 Celebration Ave,Celebration,FL,34747,4076751234
2,Bob Ray,815 Jones Road,Pine Tree,CA,60497,9716458241
3,Pep Cola,197 Pepsi Way,Buffalo,NY,10577,6319873461
4,Bubbles Taylor,341 Widex Lane,Gatlinburg,TN,41271,2413657412
5,Remy Louis,94 Croissant Circle,Paris,TX,96416,3219476485
6,Scarlett Gatoa,715 Red Lane,Redwing,CO,94785,8524176321
7,Midas King,648 Hippo Way,Cape Town,WA,51487,3479658241
8,Abbey Road,64 Beatles Lane,Strawberry Fields,VA,96341,8416325874